html {
  font-size: 10px;
}

body {
  background: #e9ebe9;
  color: #050505;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.07rem;
  word-break: break-word;
  margin:0 auto;
  margin-top: 20rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 37.5rem;
  height: 66.7rem;
  margin:0 auto;
}

.top {
  color: #FFFFFF;
  background: #4b113f;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.07rem;
  height: 5.7rem;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}
h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 2.3rem;
  margin-left: 2.3rem;
}

.section {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 1.99rem;
  margin-bottom: 0rem;
}

.input {
  height: 5.2rem;
  margin-top: 0.7rem;
  margin-bottom: 0rem;
  border-style: none;
  border-radius: 0.8rem;
  border: #e1e4e1 solid 0.1rem;
}
#password::placeholder {
  color: #c4c4c4;
  font-size: 1.1rem;
  letter-spacing: 0.7rem;
}

.note {
  color: #FF0000;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.0396rem;
  margin-top: 0.7rem;
  margin-bottom: 0rem;
}

.submit {
  color: #FFFFFF;
  background: #DA1BB0;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.06rem;
  margin-right: 2.3rem;
  margin-left: 2.3rem;
  height: 5.6rem;
  min-height: 5.6rem;
  margin-top: 2.4rem;
  border-style: none;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.16), 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.12), 0rem 0.1rem 0.8rem rgba(0, 0, 0, 0.1);
}

.sign-in {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.21rem;
  letter-spacing: 0.031rem;
  text-decoration: underline;
  margin-top: 2.1rem;
  margin-bottom: 5rem;
  cursor: pointer;
}
