body {
  background: #e9ebe9;
  color: #050505;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.024em;
  word-break: break-word;
  margin:0 auto;
  margin-top: 200px; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 375px;
  height: 667px;
  margin:0 auto;
}

.top {
  color: #FFFFFF;
  background: #4b113f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
h2 {
  font-weight: 500;
}


.middle {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 23px;
  margin-left: 23px;
}

.section {
  font-weight: 400;
  font-size: 18px;
  margin-top: 19px;
  margin-bottom: 0px;
}

.input {
  height: 52px;
  margin-top: 8px;
  margin-bottom: 0px;
  border-style: none;
  border-radius: 8px;
  border: #e1e4e1 solid 1px;
}
#password::placeholder {
  color: #c4c4c4;
  font-size: 11px;
  letter-spacing: 7px;
}

.note {
  color: #FF0000;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 0px;
}

#submit {
  color: #FFFFFF;
  background: #DA1BB0;
  font-weight: 600;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 25px;
  height: 56px;
  min-height: 56px;
  margin-top: 24px;
  border-style: none;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.sign-in {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 22px;
  margin-bottom: 50px;
  cursor: pointer;
}
